body {
  display: flex;
  justify-content: center;
  background-color: darkkhaki;
}

.header {
  position: static;
  margin-top: 20px;
  border-radius: 20px;
  z-index: 99;
  padding: 16px 50px;
  font-size: 20px;
  background-color:rgb(73, 148, 73);
  box-shadow: 0px 2px 4px -1px rgb(0, 0, 0), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 35px;
}
