.wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.link:hover {
  color: white;
}

.active {
  color: white;
}
